__pycache__/
.idea/
db.sqlite3
.env
env/
venv/

Screenshot_from_2022-11-17_01-50-39.png
Screenshot_from_2022-11-26_12-52-39.png
Screenshot_from_2022-11-28_23-58-03.png
Screenshot_from_2022-11-25_17-46-16.png
Screenshot_from_2022-11-27_00-11-56.png
Screenshot_from_2022-11-26_12-52-39_Zu8wbFM.png

bmw_e34_krasnyj_avto_vid_sboku_sportkar_96487_1280x800_1.jpg


attractions/migrations/
certificate/migrations/
staff/migrations/
travel/migrations/
users/migrations
weathers/migrations/

attractions_image/
staff_images/
tour_images/
profile_images/


